* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
body {
  background-color: palevioletred;
}
.title {
  text-align: center;
  padding-top: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#grid {
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  background-color: pink;
  margin: 50px auto;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
}
.cell {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cell.easy {
  width: calc(100% / 10);
  height: calc(100% / 10);
}
.cell.medium {
  width: calc(100% / 9);
  height: calc(100% / 9);
}
.cell.hard {
  width: calc(100% / 7);
  height: calc(100% / 7);
}

.bg-blue {
  transition: ease-out 0.5s;
  background-color: aqua;
}
.bg-red {
  background-color: red;
}

.btn-container {
  display: flex;
  margin-top: 20px;
  justify-content: space-evenly;
  width: 100%;
}
.container {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
